name: Apple Silicon

on:
  release:
    types: [created]

jobs:
  build:
    runs-on: macos-14
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Install Rust
      run: |
        curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
        export PATH="$HOME/.cargo/bin:$PATH"
        rustup default stable

    - name: Build Rust Code
      run: cargo build --release

    - name: Get Release Version
      id: get_release_version
      run: echo "::set-output name=version::${GITHUB_REF#refs/tags/}"

    - name: Create Zip Archive
      run: |
        version=$(echo ${{ steps.get_release_version.outputs.version }})
        zip -r "$version.zip" target/release/zap

    - name: Upload Release Artifact
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ./${{ steps.get_release_version.outputs.version }}.zip
        asset_name: "zap-${{ steps.get_release_version.outputs.version }}.zip"
        asset_content_type: application/zip
